body{
    background-color:hsl(240, 13%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: hsl(240, 21%, 91%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2em;
    width: 420px;
}

.containerTop{
    width: 420px;
    background-color: hsl(240, 21%, 71%);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

h1{
    font-family: sans-serif;
    font-size: 36px;
    text-align: center;
}

p{
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

input{
    width: 360px;
    font-family: sans-serif;
    font-size: 18px;
    outline: none;
    border-radius: 8px;
    margin-bottom: 10px;
}

button{
    width: 360px;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: hsl(240, 21%, 71%);
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover{
    background-color: hsl(240, 21%, 51%);
}
img{
    display: none;
    margin-bottom: 20px;
}